<div class="container">
  
  <h2>設定</h2>

  <div class="user-container">
    <ul class="side-navi" data-turbolinks="false">
      <li class="side-navi-item"><%= link_to "アカウント", user_path(@user) %></li>
      <li class="side-navi-item"><%= link_to "プロフィール", users_profile_path(@user) %></li>
    </ul>

    <div class="account-information">
      <div class="account-information-header">
        <h2>プロフィール</h2>
        <%= link_to "編集", users_profile_edit_path %>
      </div>
      <div class="">
        <div class="account-information-list">
          <label class="account-information-label">アイコン画像</label>
          <% if @user.image? %>
            <%= image_tag @user.image.url, class: "icon-image" %>
          <% end %>
        </div>
        <div class="account-information-list">
          <label class="account-information-label">名前</label>
          <%= @user.name %>
        </div>
        <div class="account-information-list">
          <label class="account-information-label">自己紹介</label>
          <%= @user.introduction %>
        </div>
      </div>
    </div>
  </div>
</div>

<select>
  <option><%= @user.name %></option>
  <option value="1">bb</option>
  <option value="2">cc</option>
</select>


