<div class="search-form-container">
  <%= form_with url: search_rooms_path, method: :get, class: "search-form", local: true do |f| %>
    <%= f.text_field :address, class: "search-box", placeholder: "エリア名を入力" %>
    <%= f.text_field :keyword, class: "search-box", placeholder: "キーワード名を入力" %>
    <%= f.submit :search, class: "search-button", value: "検索" %>
  <% end %>
</div>

<div class="container">
  <h4><%= @rooms.count %>件が見つかりました。</h4>

  <ul class="room-list">
    <% @rooms.each do |room| %> 
      <li class="room">
        <% if room.room_image.present? %>
          <%= image_tag room.room_image.url, class: "room-image" %>
        <% else %>
          <img src="https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png" alt="部屋画像" class="room-image" >
        <% end %>
        <div class="room-body" data-turbolinks="false">
          <p class="room-name"><%= room.room_name %></p>
          <p class="room-address"><%= room.address %></p>
          <p class="room-introduction"><%= room.room_introduction %></p>
          <p class="room-price">¥<%= room.price.to_s(:delimited) %>~</p>
          <%= link_to "詳細はこちら", room, class: "room-orange-button" %>
        </div>
      </li>
    <% end %>
  </ul>

</div>