<%= render "shared/search_area" %>

<div class="container" data-turbolinks="false">
  <div class="room-details-header">
    <%= link_to "戻る", :back, class: "blue-text" %>
    <% if current_user.present? %>
      <% if current_user.id==@room.user_id %>
        <%= link_to "編集", edit_room_path(@room), class: "blue-text" %>
      <% end %>
    <% end %>
  </div>
  <div class="room-details-container">
    <% if @room.room_image.present? %>
      <%= image_tag @room.room_image.url, class: "room-details-image" %>
    <% else %>
      <img src="https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png" alt="部屋画像" class="room-details-image" >
    <% end %>

    <div class="room-details">
      <div class="room-details-name-and-price">
        <p class="room-details-name"><%= @room.room_name %></p>
        <p class="room-details-price">¥<%= @room.price.to_s(:delimited) %>~</p>
      </div>
      <p class="room-details-address"><%= @room.address %></p>
      <p class="room-details-introduction"><%= @room.room_introduction %></p>
      <div class="reservation-form-container">
        <%= render "shared/error_messages", obj: @reservation %>
        <%= form_with model: @reservation, url: confirm_reservations_path(@reservation), local: true do |f| %>
          <div class="reservation-form">
            <div class="reservation-form-item">
              <%= f.label :start_date, "チェックイン" %>
              <%= f.date_field :start_date, class: "reservation-form-input" %>
            </div>
            <div class="reservation-form-item">
              <%= f.label :end_date, "チェックアウト" %>
              <%= f.date_field :end_date, class: "reservation-form-input" %>
            </div>
            <div class="reservation-form-item">
              <%= f.label :person_num, "人数" %>
              <%= f.text_field :person_num, placeholder: "0", class: "reservation-form-input" %>
            </div>
            <% if current_user.present? %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <%= f.hidden_field :room_id, value: @room.id %>
          </div>
          <%= f.submit "予約する", class: "reservation-form-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
